* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    overflow-x: hidden; */
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(251, 225, 225, 0.574), rgba(200, 233, 245, 0.641), #fdf0ffa2), rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.affiliate-page {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

h3{
    color: #007bff;
    text-align: center;
    margin-bottom: 15px;
}

header p {
    color: #666;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Referral Progress Section */
.referral-progress {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background-color: #28a745;
}

/* Invite Friends Section */
.invite-friends {
    margin-top: 30px;
}

.referral-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.referral-link input {
    width: 70%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.share-options {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.share-btn {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.text1{
    font-size: 16px;
}

.affiliate-page .text1 ul li{
    font-weight: bold;
    margin-top: 1rem;
    background-color: #0056b3;
}

.share-btn[data-platform="whatsapp"] {
    background-color: #25D366;
    font-size: 10px;
}

.share-btn[data-platform="facebook"] {
    background-color: #3b5998;
    font-size: 10px;
}

.share-btn[data-platform="twitter"] {
    background-color: #1DA1F2;
    font-size: 10px;
}

.share-btn[data-platform="email"] {
    background-color: #6c757d;
    font-size: 10px;
}
