 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background: url('/images/Desktop\ -\ 5.png');
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-container {
      background: #ffffff00;
      padding: 40px;
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

    .login-container img{
        width: 130px;
    }

    h2 {
      margin-bottom: 25px;
      color: #222831;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1em;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #4caf50;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 1.1em;
      cursor: pointer;
      transition: 0.3s ease;
    }

    button:hover {
      background-color: #0f1115;
      color: #4caf50;
      cursor: not-allowed;
    }

    p{
        font-size: 12px;
        color: #222831;
    }

    .loader {
      display: none;
      margin: 20px auto;
      width: 40px;
      height: 40px;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #FF9505;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .message {
      margin-top: 15px;
      color: red;
      font-size: 0.95em;
    }